# pip install -r requirements.txt

google-generativeai
python-dotenv
SpeechRecognition
googletrans==4.0.0-rc1
gTTS
playsound==1.2.2
pyaudio
streamlit
requests==2.28.1 
altair==4.2.2
protobuf==5.29.3
streamlit-authenticator
bcrypt==4.0.1
PyYAML
streamlit-webrtc
audio_recorder_streamlit
pydub